<a href="https://colab.research.google.com/github/tadanur/Data-Analysis-with-Python/blob/main/Assignment_3_Statistics_Tugba_Adanur.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

##EXERCISE 1. 
The hourly wages in a particular industry are normally distributed with mean 13.20 dollars and standard deviation 2.50 dollars. A company in this industry employs 40 workers, paying them an average of $12.20 per hour. Can this company be accused of paying substandard wages? Use an α = .01 level test. (Wackerly, Ex.10.18)

CHECK: statistic: -2.5298221281347035, pvalue= 0.005706018193000826

In [3]:
mu = 13.20
xbar = 12.20
n = 40
sigma = 2.50



*   H0: mu = 13.20
*   H1: mu > 13.20

In [4]:
z = (xbar - mu) / (sigma / np.sqrt(n))
z

-2.5298221281347035

In [5]:
p = stats.norm.cdf(z)      
p

0.005706018193000826

**Since p < α, we can reject the null hypothesis. This company can be accused of paying substandard wages.**

##EXERCISE 2.
Shear strength measurements derived from unconfined compression tests for two types of soils gave the results shown in the following document (measurements in tons per square foot). Do the soils appear to differ with respect to average shear strength, at the 1% significance level?

Results for two type of soils

CHECK: statistic: 5.1681473319343345, pvalue= 2.593228732352821e-06



*   H0: mu1 = mu2
*   H1: mu1 != mu2

In [7]:
df = pd.read_csv("soil - Sheet1.csv")
df.head()

   Soil1  Soil2
0  1.442  1.364
1  1.943  1.878
2  1.110  1.337
3  1.912  1.828
4  1.553  1.371

In [10]:
# Calculate test statistics using stats.ttest_ind()
# Using equal_variances True or False doesn't make a big difference in the result

indTest = stats.ttest_ind(df.Soil1.dropna(), df.Soil2.dropna(), equal_var = True)
indTest

Ttest_indResult(statistic=5.1681473319343345, pvalue=2.593228732352821e-06)

In [11]:
# Decision
alpha = 0.01

if indTest.pvalue < alpha:
    print("Reject the null")
else:
    print("Fail to reject the null")

Reject the null

**The soils appear to differ with respect to average shear strength, at the 1% significance level.**


##EXERCISE 3. 
The following dataset is based on data provided by the World Bank (https://datacatalog.worldbank.org/dataset/education-statistics). World Bank Edstats.  2015 PISA Test Dataset

Get descriptive statistics (the central tendency, dispersion and shape of a dataset’s distribution) for each continent group (AS, EU, AF, NA, SA, OC).
Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances). Draw side-by-side box plots.

CHECK: statistic=0.870055317967983, pvalue=0.38826888111307345

In [23]:
df2 = pd.read_csv("2015_PISA_Test.csv")
df2.head()

,Country Code,Continent_Code,internet_users_per_100,Math,Reading,Science
0,ALB,EU,63.252933,413.1570,405.2588,427.2250
1,ARE,AS,90.500000,427.4827,433.5423,436.7311
2,ARG,SA,68.043064,409.0333,425.3031,432.2262
3,AUS,OC,84.560519,493.8962,502.9006,509.9939
4,AUT,EU,83.940142,496.7423,484.8656,495.0375

In [24]:
df2.columns

Index(['Country Code', 'Continent_Code', 'internet_users_per_100', 'Math',
       'Reading', 'Science'],
      dtype='object')

In [51]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
internet_users_per_100,70.0,71.973099,16.390632,21.976068,60.899020,72.99935,85.026763,98.2000
Math,70.0,460.971557,53.327205,327.702000,417.416075,477.60715,500.482925,564.1897
Reading,70.0,460.997291,49.502679,346.549000,426.948625,480.19985,499.687475,535.1002
Science,70.0,465.439093,48.397254,331.638800,425.923375,475.40005,502.431250,555.5747

In [52]:
df2.groupby(df2["Continent_Code"]).describe().T

Continent_Code                        AF          AS          EU          OC  \
internet_users_per_100 count    2.000000   17.000000   37.000000    2.000000
                       mean    43.359918   68.455613   77.274888   86.391704
                       std      7.297226   21.086060   12.425773    2.589686
                       min     38.200000   21.976068   53.744979   84.560519
                       25%     40.779959   50.300000   68.632900   85.476112
                       50%     43.359918   74.000000   76.184000   86.391704
                       75%     45.939877   84.948353   87.479056   87.307296
                       max     48.519836   92.884826   98.200000   88.222889
Math                   count    2.000000   17.000000   37.000000    2.000000
                       mean   363.212100  466.216647  477.981449  494.559750
                       std      5.099513   64.356490   35.150403    0.938401
                       min    359.606200  380.259000  371.311400  493.896200
                       25%    361.409150  403.833200  464.040100  494.227975
                       50%    363.212100  459.816000  489.728700  494.559750
                       75%    365.015050  531.296100  503.722000  494.891525
                       max    366.818000  564.189700  521.250600  495.223300
Reading                count    2.000000   17.000000   37.000000    2.000000
                       mean   355.457400  454.059682  476.164608  506.085650
                       std      7.916909   57.048962   37.720545    4.504341
                       min    349.859300  346.549000  351.741500  502.900600
                       25%    352.658350  408.102200  452.514300  504.493125
                       50%    355.457400  433.542300  487.250100  506.085650
                       75%    358.256450  508.690500  499.814600  507.678175
                       max    361.055500  535.100200  526.424700  509.270700
Science                count    2.000000   17.000000   37.000000    2.000000
                       mean   381.074250  467.945847  478.299381  511.648700
                       std      7.536556   56.671371   34.450616    2.340241
                       min    375.745100  386.485400  383.682400  509.993900
                       25%    378.409675  417.611200  460.774900  510.821300
                       50%    381.074250  456.483600  490.225000  511.648700
                       75%    383.738825  523.277400  501.936900  512.476100
                       max    386.403400  555.574700  534.193700  513.303500

Continent_Code                        SA
internet_users_per_100 count    7.000000
                       mean    60.180494
                       std      9.772455
                       min     40.900000
                       25%     57.116462
                       50%     64.289000
                       75%     66.321532
                       max     69.198471
Math                   count    7.000000
                       mean   402.887700
                       std     18.128894
                       min    377.069500
                       25%    388.102200
                       50%    409.033300
                       75%    417.617650
                       max    422.671400
Reading                count    7.000000
                       mean   425.359229
                       std     19.709688
                       min    397.541400
                       25%    416.126900
                       50%    425.303100
                       75%    431.922700
                       max    458.570900
Science                count    7.000000
                       mean   421.747186
                       std     18.470319
                       min    396.683600
                       25%    408.205450
                       50%    424.590500
                       75%    433.794600
                       max    446.956100

In [33]:
df_math = df2[["Continent_Code", "Math"]]
df_math.head()

  Continent_Code      Math
0             EU  413.1570
1             AS  427.4827
2             SA  409.0333
3             OC  493.8962
4             EU  496.7423

In [53]:
df_math.groupby(df_math["Continent_Code"]).describe().T

Continent_Code          AF          AS          EU          OC          SA
Math count        2.000000   17.000000   37.000000    2.000000    7.000000
     mean       363.212100  466.216647  477.981449  494.559750  402.887700
     std          5.099513   64.356490   35.150403    0.938401   18.128894
     min        359.606200  380.259000  371.311400  493.896200  377.069500
     25%        361.409150  403.833200  464.040100  494.227975  388.102200
     50%        363.212100  459.816000  489.728700  494.559750  409.033300
     75%        365.015050  531.296100  503.722000  494.891525  417.617650
     max        366.818000  564.189700  521.250600  495.223300  422.671400

In [49]:
df_math.groupby("Continent_Code").mean()

                      Math
Continent_Code
AF              363.212100
AS              466.216647
EU              477.981449
OC              494.559750
SA              402.887700

In [60]:
df_math.Math[df_math.Continent_Code=="EU"]

0     413.1570
4     496.7423
5     506.9844
6     441.1899
9     521.2506
14    437.1443
15    492.3254
16    505.9713
17    511.0876
20    485.8432
21    519.5291
22    511.0769
23    492.9204
24    492.4785
26    453.6299
28    464.0401
29    476.8309
31    503.7220
32    488.0332
34    489.7287
40    478.3834
41    485.7706
42    482.3051
44    419.6635
46    371.3114
47    478.6448
48    417.9341
50    512.2528
51    501.7298
54    504.4693
55    491.6270
57    443.9543
58    494.0600
60    475.2301
61    509.9196
62    493.9181
66    420.4540
Name: Math, dtype: float64

In [61]:
df_math.Math[df_math.Continent_Code=="AS"]

1     427.4827
11    531.2961
25    403.8332
27    547.9310
30    386.1096
33    469.6695
35    380.2590
36    532.4399
37    459.8160
38    524.1062
39    396.2497
43    543.8078
49    446.1098
56    402.4007
59    564.1897
63    415.4638
69    494.5183
Name: Math, dtype: float64

**Determine whether there is any difference (on the average) for the math scores among European (EU) and Asian (AS) countries (assume normality and equal variances).**

- H0: mu_eu = mu_as
- H1: mu_eu != mu_as

In [69]:
indTest = stats.ttest_ind((df_math.Math[df_math.Continent_Code=="EU"]), (df_math.Math[df_math.Continent_Code=="AS"]), equal_var=True)
indTest

Ttest_indResult(statistic=0.870055317967983, pvalue=0.38826888111307345)

In [70]:
alpha = 0.01

if indTest.pvalue < alpha:
    print("Reject the null")
else:
    print("Fail to reject the null")

Fail to reject the null

**There is not any difference (on the average) for the math scores among European (EU) and Asian (AS) countries at the significance level of 1%.**

## EXERCISE 4.  
A gym operator organized a 2-month exercise and diet program for 15 customers suffering from their excess weight. To evaluate whether this diet program was effective, he measured the customers' starting and ending weights and recorded them in the computer. Did the exercise and diet program have an impact on customers' weight loss? Use an α = .01 level test.  Weight Dataset

CHECK: statistic=2.67808348404993, pvalue=0.00900646517506627

In [13]:
df1 = pd.read_csv("weight - Sheet1.csv")
df1

    ID  starting  ending
0    1        76      72
1    2        81      82
2    3        86      84
3    4        71      71
4    5        88      83
5    6        78      74
6    7        76      70
7    8        81      80
8    9        79      78
9   10        77      79
10  11        83      80
11  12        77      76
12  13        79      77
13  14        81      83
14  15        83      82


*   H0: dbar = 0  --> The program didn't make difference.
*   H1: dbar < 0  --> The program was effective and made positive changes in losing weight.

In [15]:
depTest = stats.ttest_rel(df1["ending"], df1["starting"])     # would use alternative="less" in jupyter
depTest

Ttest_relResult(statistic=-2.6780834840499255, pvalue=0.01801293035013252)

In [18]:
alpha = 0.05

if depTest.pvalue < alpha:
    print("Reject the null")
else:
    print("Fail to reject the null")

Reject the null

**Based on the results, it can be said that the program was effective in losing weight at the significance level of 0.05.**